@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body, #__next {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #fff;
  color: #1f2937;
}
